@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.Title {
  margin-top: 4vh;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.level-indicator {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  text-align: center;
}

.board {
  min-width: 650px;
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  max-height: 320px;
  min-height: 320px;
  display: flex;
  align-items: center;
  z-index: 0;
  left: 50%;
  margin-left: -325px;
  position: absolute;
}

.start {
  margin: auto auto;
  background-color: #e7eaf9;
  border: none;
  color: #7f7fd5;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 100%;
  width: 120px;
  height: 80px;
  font-size: 20px;
  font-family: "Permanent Marker", cursive;
}

body {
  font-family: "Permanent Marker", cursive;
  background: #e7eaf9;
  min-height: 10vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.all {
  align-items: center;
  display: relative;
  width: 100%;
  height: 100%;
}

#canvas {
  left: 50%;
  margin-left: -325px;
  height: 325px;
  width: 650px;
  z-index: 2;
  pointer-events: none;
  position: absolute;
  object-fit: contain;
}

.game {
  margin: 0 auto;
  align-items: center;
  width: 595px;
  margin-top: 25vh;
  display: absolute;
}

.board-container {
  width: 595px;
  height: 360px;
  margin: 0 auto;
  position: relative;
}

.line-container {
  top: 0;
  left: 0;
  width: 595px;
  height: 360px;
  z-index: 9;
}

.board-row {
  margin-left: 35px;
  margin-right: 35px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: white;
  border: 1px solid #666;
  float: left;
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
  height: 35px;
  text-align: center;
  width: 35px;
}

.square[value="null"] {
  background: none;
  border: 0px solid #666;
  font-size: 0px;
}

.square[iscurr="true"] {
  background: yellowgreen;
}

.square[istip="true"] {
  background: orange;
}

.square:focus {
  outline: none;
}

.icon[show="true"] {
  margin-left: -4px;
  margin-top: 1px;
  max-width: 30px;
  border-color: #999;
}

.icon[show="false"] {
  display: none;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tool {
  margin-top: 0;
  margin: 30px;
  background: #e7eaf9;
  display: flex;
  flex-direction: row;
  border: 0px;
  float: left;
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
  height: 35px;
  text-align: center;
  width: auto;
}

.tool img {
  max-width: 40px;
  margin-left: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
